@CHARSET "UTF-8";

*{margin:0px; padding:0px;}
.total{
	margin:60px 0px 0px 200px;
}

.total h3{
	margin:20px 0px 20px -40px;
}

.total1{
	margin:10px 0px 10px 10px;
}

.total1 #oldpassword{
	margin:10px 0px 10px 5px;
}

.total1 #newpassword{
	margin:10px 0px 10px 5px;
}

.total1 #confirmpassword{
	margin:10px 0px 10px 5px;
}

.total1 button{
	margin:30px 0px 10px 250px;
	background-color:green;
	width:50px;
	height:30px;
	color:white;
	cursor:hand;
}

